<head>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/estilos.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/responsivo.css'>
</head>

<body>
    <div id="content" class="bg-white">

        <!--Sidebar - Inicio-->
        <div class="nav-Admin">
            <ul>
                <li>
                    <a href="/hairdresser/admin" class='text-white'>
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class='text-white'>
                        <i class="fas fa-question"></i>
                    </a>
                </li>
                <li>
                    <a href="/hairdresser/logout" class='text-white'>
                        <i class="fas fa-power-off"></i>
                    </a>
                </li>
            </ul>
        </div>

        <!--Sidebar - Fim-->
        <header>
            <div id="areastart" class="Admin_cab">
                <!--Top Bar - Inicio-->
                <nav class="navbar " id="navbar">
                    <ul class="mr-auto">
                        <li>
                            <a class="nav-link text-white animate-up">
                                <h3 class="text-info">
                                    <strong>S</strong>
                                    earch
                                    <strong>Y</strong>
                                    our
                                    <strong>S</strong>
                                    tyle
                                </h3>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <section id="section_15">
                <h3>Por que ser parceiro nosso?</h3>
                <div class="area-box">
                    <div class="box-card">
                        <div class="img-box">
                            <img src="../Imagens/web-search-engine.svg" />
                        </div>
                        <div class="box-info">
                            <p>Tenha um espaço só seu em nossa plataforma, ganhando mais visiblilidade.</p>
                        </div>
                        <div class="box-footer">
                            Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
                            from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
                        </div>
                    </div>
                    <div class="box-card">
                        <div class="img-box">
                            <img src="../Imagens/footprint.svg" />
                        </div>
                        <div class="box-info">
                            <p>Ao se juntar conosco as pessoas terão maior facilidade em te encontrar.</p>
                        </div>
                        <div class="box-footer">
                            Icons made by <a href="https://www.flaticon.com/authors/nikita-golubev"
                                title="Nikita Golubev">Nikita Golubev</a> from <a href="https://www.flaticon.com/"
                                title="Flaticon"> www.flaticon.com</a>
                        </div>
                    </div>
                    <div class="box-card">
                        <div class="img-box">
                            <img src="../Imagens/flying-money.svg" />
                        </div>
                        <div class="box-info">
                            <p>Apoie-nos e veja seus lucros crescerem juntamente conosco.</p>
                        </div>
                        <div class="box-footer">
                            Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
                            from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
                        </div>
                    </div>
                </div>
                <a href="#footer"><button class="btn">Entre em contato conosco!</button></a>
                <p class="text-muted">*Os preços podem estar sujeitos a alterações</p>
            </section>
        </main>

        <footer id="footer">
            <div id="section_14">
                <div class="box-text">
                    <h3>Sobre-nós</h3>
                    <p>Desfrute desta tela feita cuidadosamente planejada e desenvolvida para você, por isso qualquer
                        reclamação não guarde para si próprio compartilhe conosco.</p>
                    <h5>SYS</h5>
                </div>
                <div class="box-social">
                    <h3>Social Media</h3>
                    <p><a href=""><i class="fab fa-facebook-f"></i> Facebook</a></p>
                    <p><a href=""><i class="fab fa-instagram"></i> Instagram</a></p>
                    <p><a href=""><i class="fab fa-twitter"></i> Twitter</a></p>
                </div>
                <div class="box-contact-us">
                    <h3>Contate-nos</h3>
                    <p>SWD2020@gmail.com</p>
                    <p>(11) 3979-1120</p>
                    <p>Av. Elísio Teixeira Leite, Freguesia do Ó, SP</p>
                    <p>Nº 3611</p>
                </div>
            </div>
            <div class="box-copyright-2 bg-dark ">
                <div class="box-text">
                    <a href="">Pensado e desenvolvido pela SWD</a>
                </div>
            </div>
        </footer>
    </div>
</body>