<!-- Área de Eventos -->
<div class="area-event">
    <div class="area-box">
        <div class="box-text">
            <h3>Mês das
                <strong>crianças.</strong>
            </h3>
            <p class="text-left">
                Com o mês das crianças chegando a nossa equipe resolveu separa alguns salões especialmente para o
                seu filho(a), porque não tem nada melhor do que ver seu filho (a) feliz e bonito (a). Mas se você
                não tem filho não se preocupe tambem temos salões para o seu sobrinho (a), neto (a), afilhado (a),
                irmâozinho (a) etc. Sério que você vai perder está oportunidade.
            </p>
            <button type="submit"><a href="/search">Eu quero ver!</a></button>
        </div>
        <div class="line"></div>
        <div class="box-img">
            <img src="../Imagens/jonathan-weiss-arxAZJT5k2A-unsplash.jpg" alt="">
            <span>Foto feita por <a
                    href="https://unsplash.com/@jweiss?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Jonathan
                    Weiss;<br></a> Site <a
                    href="https://unsplash.com/s/photos/children-haircut?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash.</a></span>
        </div>
    </div>
    <div class="area-box">
        <div class="box-text-2">
            <p>Valido das 00h01 a partir do dia 1 de Outubro de 2020 até às 23h59 do dia 31 de Outubro de 2020,
                quaisquer dúvida entre em contato conosco.</p>
            <p>Nós não somos responsaveis pelo valor dos preços de corte etc, os valores são de total
                responsabilidade do cabeleireiro, mais dúvidas veja nossos <a href="">Termos de serviços</a>.</p>
        </div>
    </div>
</div>