<body>
    <footer>
        <div class="container-fluid p-2 shadow">
            <div class="row text-left">

                <!--Empresa-->
                <div class="col-md-6">
                    <h3 class="text-white">SYS</h3>
                    <h5>
                        "O mais importante é sentir-se bem consigo mesmo"
                    </h5>
                </div>

                <!--Contato-->
                <div class="col-md-6">
                    <h3 class="text-white">Contato Direto</h3>
                    <p classs="mt-5">SWD2020@gmail.com</p>
                    <p>São Paulo - SP</p>
                    <p>Av. Elísio Teixeira Leite, Freguesia do Ó</p>
                    <p>(11) 3979-1120</p>    
                </div>

                <!--Social Media-->
                <div class="col-md-12">
                    <div class="title">
                        <p class="text-center">Siga-nos</p>
                    </div>
                    <div class="icons">
                        <a href="#">
                            <i class="fab fa-facebook fa-2x"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter-square fa-2x"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-instagram fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="line"></div>

            <!--Direitos Autorais-->
            <div class="container-fluid .swd text-center text-white">
                <p class="mt-5">
                    <i class="far fa-copyright"></i> - 2020 Todos os Direitos estão reservados | Feito por
                    <a href="#" class='text-white'>
                        SWD
                        <i class="fas fa-smile-beam text-danger"></i>
                    </a>
                </p>
            </div>
        </div>
    </footer>
</body>