{{#if success_msg}}
   <center><div class="alert alert-success w-50 mt-5">{{success_msg}}</div></center>
{{/if}}

{{#if error_msg}}
    <center><div class="alert alert-danger w-50 mt-5">{{error_msg}}</div></center>
{{/if}}