<header>
    <!--Navbar-->
    <div class="p-0">
        <nav class="navbar container-fluid nav navbar-expand-md">

            <!--Logo da empresa-->
            <span class="slide">
                <a class="nav-link text-white animate-up">
                    <img src="/Imagens/logo.png" width="76" alt="">
                </a>
            </span>

            <!--Hamburger icon-->
            <a class="toggle navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>

            <!--Collpse-->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text" href="/">
                            <i class="fas fa-home"></i> Inicio
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text" href="/main/search">
                            <i class="fas fa-search icon-search"></i> Salões
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  login" href="/main/typeRegister"><i
                                class="fas fa-sign-in-alt"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>