<div id="menu" class="nav">
    <a class="close" onclick="closeSlideMenu()">
        <i class="fas fa-times"></i>
    </a>
    <ul class="mt-1">
        <li>
            <div>
                <a href="/user/index"><i class="fas fa-home"></i> Inicio</a>
            </div>
        </li>
        <li>
            <a href="/user/search">
                <i class="fas fa-search"></i> Salões
            </a>
        </li>
        <hr>
        <li>
            <a href="/user/logout">
                <i class="fas fa-power-off"></i> Sair
            </a>
        </li>
    </ul>
</div>
<header>