<footer>
    <section id="section_4">
        <div class="box-menu">
            <ul>
                <li><a href="/user/index">Inicio</a></li>
                <li><a href="/user/search">Buscar</a></li>
                <li><a href="/user/index#section_2">Mobile</a></li>
            </ul>
        </div>
        <hr>
        <div class="box-text">
            <p class="text-center">Somos a SYS, e fui criada no ano de 2020, pela equipe SWD, com o intuito
                de buscar o salão ideal para você.</p>
        </div>
        <div class="box-social-media">
            <a href=""><i class="fab fa-facebook-f"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
        </div>
        <div class="box-copyright">
            <p class="text-center"><a href="#">Template feito por SWD</a></p>
        </div>
    </section>
</footer>